extends ../layout

block body
  .container.py-3
    .row.mt-1
      .col
        include ../_breadcrumbs
        div.card.mb-2
          div.card-header
            = "Kunde ("
            a(href=l(`/admin/users/${contract.User.id}`))= "link"
            = ")"
          div.card-body
            div.row
              div.col-4
                h5.card-title= "Kontakt Info"
                div= contract.User.display_name
                div= contract.User.email
              div.col-4
                h5.card-title= "Rechnungsdaten"
                div= contract.User.companyName
                div= `${contract.User.companyStreet} ${contract.User.companyHouseNumber}`
                div= `${contract.User.companyZip} ${contract.User.companyCity}`
              div.col-4
        div.card.mb-2
          div.card-header
            = "Entsorger ("
            a(href=contract.PmaOffer.departmentUrl)= "link"
            = ")"
          div.card-body
            div.row
              div.col-4
                h5.card-title= "Entsorger"
                div.font-weight-bold= contract.PmaOffer.disposer.company_name
                div
                  i.fas.fa-map-marker-alt
                  = " "
                  = contract.PmaOffer.disposer.location.street
                  = " "
                  = contract.PmaOffer.disposer.location.house_number
                  = ", "
                  = contract.PmaOffer.disposer.location.zip
                  = " "
                  = contract.PmaOffer.disposer.location.city
                div
                  i.fas.fa-user
                  = " "
                  = contract.PmaOffer.disposer.contact_person.name
                div
                  i.fas.fa-phone
                  = " "
                  = contract.PmaOffer.disposer.contact_person.phone
                div
                  i.fas.fa-at
                  = " "
                  = contract.PmaOffer.disposer.contact_person.email
              div.col-4
                h5.card-title= "Hof"
                div.font-weight-bold= contract.PmaOffer.department.name
                div
                  i.fas.fa-map-marker-alt
                  = " "
                  = contract.PmaOffer.department.location.street
                  = " "
                  = contract.PmaOffer.department.location.house_number
                  = ", "
                  = contract.PmaOffer.department.location.zip
                  = " "
                  = contract.PmaOffer.department.location.city
                div
                  i.fas.fa-credit-card
                  = `${contract.PmaOffer.department.credit_system ? "nutzt das Kredit System" : " - "}`
              div.col-4
                h5.card-title= "Ansprechpartner"
                div.font-weight-bold= "Ansprechpartner Disposition"
                div
                  i.fas.fa-user
                  = " "
                  = contract.PmaOffer.department.contact_person_management.name
                div
                  i.fas.fa-phone
                  = " "
                  = contract.PmaOffer.department.contact_person_management.phone
                div
                  i.fas.fa-at
                  = " "
                  = contract.PmaOffer.department.contact_person_management.email
                div.font-weight-bold= "Ansprechpartner Vertrieb"
                div
                  i.fas.fa-user
                  = " "
                  = contract.PmaOffer.department.contact_person_disposal.name
                div
                  i.fas.fa-phone
                  = " "
                  = contract.PmaOffer.department.contact_person_disposal.phone
                div
                  i.fas.fa-at
                  = " "
                  = contract.PmaOffer.department.contact_person_disposal.email
        div.card.mb-2
          div.card-header= "Entsorger"
        div.card.mb-2
          div.card-header= "Angebot"

        div.card.mb-2
          div.card-header= "Status"
  div= JSON.stringify(contract)
