<div class="row">
    <% locals.charts.forEach(function(chart) { %>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= chart.repo.name %>/<%= chart.name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Chart Version: <%= chart.version %></h6>
                    <a href="/repos/<%= chart.repo.name %>/<%= chart.name %>" class="card-link">Chart Versions</a>
                    <a href="/subscriptions/chartVersionUpdate/<%= chart.id %>" class="card-link">Subscribe</a>
                </div>
            </div>
        </div>
    <% }); %>

</div>
