<div class="row">
    <div class="col-10">
        <%- JSON.stringify(chartTree) %>
    </div>
    <div class="col-2">
        <ul>
            <% locals.chart.versions.forEach((chartVersion, index) => { %>
                <li><%= chartVersion.version %> -
                    <% if(index === 0){ %>
                        current
                    <% } else { %>
                        <a href="/repos/<%= repoName %>/<%= chart.name %>/compare/<%= chartVersion.version %>...<%= chart.versions[index - 1].version %>">Compare
                            to next release</a>
                    <% } %>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
